<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>message</title>
</head>
<style>
#btn{text-align: center;}
p{text-align: justify; font-size: 14px;}
button{
    font-size: 14px;
    border: 1px solid #000;
    border-radius: 16px;
    padding: 10px 20px;
    cursor: pointer;;
    justify-items: center;
}
</style>
<body>
    <div>Hi {{name}}!!!</div>
    <p>We are receive a request to rest your password 
        kindly please click the reset password button
    </p>

    <div id ="btn">
        <button><a href="http://localhost:9000/auth/resetPassword?token={{token}} ">Reset Password</a></button>
    </div>

    <p>If you did not make this request just ignore this message.
        Otherwise you can reset your password
    </p>
    
</body>
</html>